<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.account.mapper">
    <!--계좌 등록-->
    <insert id="insertAccount" parameterType="accountVO">
        INSERT INTO ACCOUNT(
            account_id,
            member_id,
            account_num,
            bank_name,
            balance,
            limit)
        VALUES
        (#{accountId},#{memberId},#{accountNum},#{bankName},#{balance},#{limit})
    </insert>

    <!-- 계좌 삭제   -->

</mapper>